<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>

  <h1 class="text-red titel">Mijn profiel</h1>

  <form (ngSubmit)="onSubmit()" #weatherstationForm="ngForm">

    <div class="form-group">
      <label for="first_name">Voornaam:</label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Voornaam" required
      [(ngModel)]="user.first_name" #first_name="ngModel">
      <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">Voornaam is een verplicht veld.</div>
    </div>

    <div class="form-group">
      <label for="surname">Achternaam:</label>
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Achternaam" required
      [(ngModel)]="user.surname" #surname="ngModel">
      <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">Achternaam is een verplicht veld.</div>
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required
      [(ngModel)]="user.email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">E-mail is een verplicht veld.</div>
    </div>

    <div class="form-group">
      <label for="gsm">Gsm:</label>
      <input type="text" class="form-control" id="gsm" name="gsm" placeholder="Gsm nummer" required
      [(ngModel)]="user.gsm" #gsm="ngModel">
      <div [hidden]="gsm.valid || gsm.pristine" class="alert alert-danger">Gsm is een verplicht veld.</div>
    </div>

    <div class="form-group">
      <label for="organisation">Organisatie:</label>
      <select class="form-control" name="organisation" id="organisation" [(ngModel)]="user.organisation_id" #organisation_id="ngModel">
        <option [ngValue]="null">Geen organisatie</option>
        <option *ngFor="let organisation of organisations" [value]="organisation.id">
          {{ organisation.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="d-inline">Ik wil meldingen ontvangen:</label>
      <label for="can_receive_notifications" class="toggle-control d-inline">
        <input type="checkbox" checked="checked" id="can_receive_notifications" name="can_receive_notifications"
        [(ngModel)]="user.can_receive_notification" #can_receive_notifications="ngModel">
        <span class="control mt-1 ml-2"></span>
      </label>
    </div>

    <div class="mb-4">
      <button class="btn btn-outline-red rounded-pill" (click)="goBack()">Annuleren</button>
      <button type="submit" class="btn btn-red rounded-pill ml-2"
        [disabled]="!weatherstationForm.form.valid || isSubmitted">Opslaan</button>
    </div>

  </form>
</div>
