<div class="container">
  <h1 class="text-red titel">Wachtwoord aanpassen</h1>
  <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>

  <!-- <input type="text" class="form-control" id="user" name="user" placeholder="Gebruiker" [(ngModel)]="weatherstation.user.name"
              #user="ngModel" required> -->

  <form (ngSubmit)="onSubmit()" #weatherstationForm="ngForm">

    <div class="form-group">
      <label for="password">Huidig wachtwoord:</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="Huidig wachtwoord" required>
      <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Naam is een verplicht veld.</div> -->
    </div>

    <div class="form-group">
      <label for="new_password">Nieuw wachtwoord:</label>
      <input type="text" class="form-control" id="new_password" name="new_password" placeholder="Nieuw wachtwoord" required>
      <!-- <div [hidden]="gsm.valid || gsm.pristine" class="alert alert-danger">Gsm-nummer is een verplicht veld.</div> -->
    </div>

    <div class="form-group">
      <label for="new_password2">Herhaal nieuw wachtwoord:</label>
      <input type="text" class="form-control" id="new_password2" name="new_password2" placeholder="Herhaal nieuw wachtwoord" required>
      <!-- <div [hidden]="relais_name.valid || relais_name.pristine" class="alert alert-danger">Gekoppelde relais is een verplicht veld.</div> -->
    </div>

    <div class="mb-4">
      <button class="btn btn-outline-red rounded-pill" (click)="goBack()">Annuleren</button>
      <button type="submit" class="btn btn-red rounded-pill ml-2"
        [disabled]="!weatherstationForm.form.valid || isSubmitted">Opslaan</button>
    </div>
  </form>
</div>
