<div class="container-fluid">
  <div class="row my-4">
    <div class="col-lg-10 col-12 offset-lg-1 mt-5">
      <h1 class="mb-4 text-red">Publieke weerstations</h1>
      <div class="row mb-2">
          <app-organisation-filter class="col-12 col-sm-6 col-md-4 col-xl-3 offset-sm-3 offset-md-0"></app-organisation-filter>
      </div>
    </div>
    <div class="col-lg-10 col-12 offset-lg-1 mt-2 table-responsive">
      <table class="w-100 table-striped" datatable [dtOptions]="dtOptions" *ngIf="weatherstations && weatherstations.length > 0">
        <thead class="bg-red text-white">
          <tr>
            <th scope="col">Weerstation</th>
            <th scope="col">Organisatie</th>
            <th scope="col">Dashboard</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let station of weatherstations">
            <td>{{ station.name }}</td>
            <td>
              <span *ngIf="station.organisation && !isArray(station.organisation)">{{ station.organisation.name }}</span>
              <span *ngIf="!station.organisation || isArray(station.organisation)">/</span>
            </td>
            <td>
              <a [routerLink]="['/dashboard', station.id]" class="dashboard-btn btn btn-sm rounded-pill btn-outline-red d-block">
                <span class="btn-text">Bekijk dashboard</span>
                <i class="btn-icon fa fa-eye"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
