<div class="container-fluid">
  <div class="row my-4">
    <div class="col-lg-10 col-12 offset-lg-1 mt-5">
      <h1 class="mb-4 text-red">Dashboard</h1>
      <div class="alert alert-danger" role="alert" *ngIf="(isSubmittedDataPublic || isSubmittedRelais) && errorMessage">
        {{errorMessage}}
      </div>
      <div class="row mb-2 px-3 d-flex">
        <div class="pl-0 col-12 col-sm-6 col-md-3 col-xl-2">
          <button (click)="triggerModal(modalDataPublic)" class="mb-2 mr-sm-2 mb-lg-0 btn btn-block rounded-pill"
            [class]="weatherstation.is_public ? 'btn-red' : 'btn-outline-red'">{{ weatherstation.is_public ? 'Data publiek' : 'Data privé' }}</button>
        </div>
        <div class="pl-0 col-12 col-sm-6 col-md-3 col-xl-2">
          <a class="mb-2 mr-sm-2 mb-lg-0 btn btn-outline-red btn-block rounded-pill">Download data</a>
        </div>
        <div class="pl-0 col-12 col-sm-6 col-md-3 col-xl-2">
          <button (click)="triggerModal(modalToggleRelais)" class="mb-2 mr-sm-2 mb-lg-0 btn btn-block rounded-pill"
            [class]="weatherstation.is_manual_relais ? 'btn-red' : 'btn-outline-red'">{{ weatherstation.is_manual_relais ? 'Relais aan' : 'Relais uit' }}</button>
        </div>
        <div class="pl-0 pr-md-0 mb-2 mt-3 mt-sm-0 mb-lg-0 col-12 col-sm-6 col-md-3 col-xl-3 offset-xl-3">
          <app-weatherstation-filter [weatherstations]="weatherstations" [selectedWeatherstationId]="weatherstationId" (onSelectedWeatherstationIdChange)="changeWeatherstation($event)"></app-weatherstation-filter>
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-12 offset-lg-1 mt-2">
      <app-graph [weatherstationId]="weatherstationId"></app-graph>
    </div>
  </div>
</div>

<!-- Modal voor dashboard publiek -->
<ng-template #modalDataPublic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ weatherstation.is_public ? 'Data privé zetten' : 'Data publiek zetten' }}</h4>
    <button type="button" class="close no-focus" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Weet je zeker dat je dit weerstation {{ weatherstation.is_public ? 'privé' : 'publiek' }} wil maken?
    </p>
    <p>Het dashboard van dit weerstation zal
      {{ weatherstation.is_public ? 'dan niet meer beschikbaar zijn voor bezoekers.' : 'dan beschikbaar zijn voor bezoekers.' }}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-red rounded-pill"
      (click)="modal.close('Save click')">Annuleren</button>
    <button type="button" class="btn btn-red rounded-pill" (click)="putDataPublic()"
      (click)="modal.close('Save click')">Opslaan</button>
  </div>
</ng-template>

<!-- Modal voor relais te togglen -->
<ng-template #modalToggleRelais let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ weatherstation.is_manual_relais ? 'Relais uitzetten' : 'Relais aanzetten' }}</h4>
    <button type="button" class="close no-focus" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Weet je zeker dat je de relais van dit weerstation wil
      {{ weatherstation.is_manual_relais ? 'uitzetten' : 'aanzetten' }}?
    </p>
    <p>De alarmen die de relais van dit weerstation automatisch aansturen zullen
      {{ weatherstation.is_manual_relais ? 'opnieuw werken.' : 'niet meer werken tot je de relais manueel terug uit zet.' }}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-red rounded-pill"
      (click)="modal.close('Save click')">Annuleren</button>
    <button type="button" class="btn btn-red rounded-pill" (click)="putRelais()"
      (click)="modal.close('Save click')">Opslaan</button>
  </div>
</ng-template>
