<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>

  <h1 class="text-red titel">Mijn Organisatie</h1>

  <form (ngSubmit)="onSubmit()" #organisationForm="ngForm">
    <div class="form-group">
      <label for="name">Naam:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Naam" required
      [(ngModel)]="organisation.name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Naam is een verplicht veld.</div>
    </div>
    <div class="form-group">
      <label for="address">Adres:</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="Adres" required
      [(ngModel)]="organisation.address" #address="ngModel">
      <div [hidden]="address.valid || address.pristine" class="alert alert-danger">Adres is een verplicht veld.</div>
    </div>
    <div class="form-group">
      <label for="city">Stad:</label>
      <input type="text" class="form-control" id="city" name="city" placeholder="Stad" required
      [(ngModel)]="organisation.city" #city="ngModel">
      <div [hidden]="city.valid || city.pristine" class="alert alert-danger">Stad is een verplicht veld.</div>
    </div>
    <div class="form-group">
      <label for="postal_code">Postcode:</label>
      <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Postcode" required
      [(ngModel)]="organisation.postal_code" #postal_code="ngModel">
      <div [hidden]="postal_code.valid || postal_code.pristine" class="alert alert-danger">Postcode is een verplicht veld.</div>
    </div>
    <div class="form-group">
      <label for="country">Land:</label>
      <input type="text" class="form-control" id="country" name="country" placeholder="Land" required
      [(ngModel)]="organisation.country" #country="ngModel">
      <div [hidden]="country.valid || country.pristine" class="alert alert-danger">Land is een verplicht veld.</div>
    </div>

    <button class="btn btn-outline-red rounded-pill" (click)="goBack()">Annuleren</button>
    <button type="submit" class="btn btn-red rounded-pill ml-2"
      [disabled]="!organisationForm.form.valid || isSubmitted">Opslaan</button>
  </form>
</div>
