<nav class="navbar navbar-expand-lg navbar-light bg-light pl-3 pl-lg-5 pr-3 pr-lg-5 fixed-top">
  <a class="navbar-brand font-weight-bold" href="#">Wijnbouwer.be</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center">
      <!-- <div *ngIf="authService.isLoggedIn()" class="d-lg-flex align-items-lg-center text-center"> -->
      <div class="d-lg-flex align-items-lg-center text-center">
        <li class="nav-item mr-lg-3" *ngIf="authService.isLoggedIn()">
          <a class="nav-link text-dark d-flex align-items-center text-secondary" href="#"
            [routerLink]="['/dashboard', 2]" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
        </li>
      </div>

      <div class="d-flex align-items-center">
        <!-- <div *ngIf="authService.isLoggedIn() && authService.getUser()?.isAdmin == true" class="d-lg-flex text-center"></div> -->
        <!-- <li class="nav-item" *ngIf="authService.isLoggedIn()"> -->
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link text-red d-flex align-items-center" data-toggle="dropdown" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{ user.first_name }} {{ user.surname }} <i
              class="pl-1 fas fa-caret-down text-red"></i></a>
          <div class="dropdown">
            <ul class="dropdown-menu mr-5">
              <li><a class="nav-link text-dark d-flex align-items-center" href="#" routerLink="/user/personal-settings">
                  <i class="fas fa-user-cog pr-2"></i>Persoonlijke instellingen</a></li>
              <hr class="m-0" />
              <li *ngIf="authService.getUser()?.is_admin == true || authService.getUser()?.is_superadmin == true"><a class="nav-link text-dark d-flex align-items-center" href="#" [routerLink]="['/admin/alarms/', 2]">
                  <i class="fas fa-bell pr-2"></i>Alarmen</a></li>
              <li *ngIf="authService.getUser()?.is_admin == true || authService.getUser()?.is_superadmin == true"><a class="nav-link text-dark d-flex align-items-center" href="#" routerLink="/admin/users">
                  <i class="fas fa-users pr-2"></i>Gebruikers</a></li>
              <li *ngIf="authService.getUser()?.is_admin == true || authService.getUser()?.is_superadmin == true"><a class="nav-link text-dark d-flex align-items-center" href="#" routerLink="/admin/weatherstations">
                  <i class="fas fa-broadcast-tower pr-2"></i>Weerstations</a></li>
              <hr class="m-0" />
              <li *ngIf="authService.getUser()?.is_superadmin == true"><a class="nav-link text-dark d-flex align-items-center" href="#"
                  routerLink="/superadmin/organisations">
                  <i class="fas fa-building pr-2"></i>Organisaties</a></li>
              <li *ngIf="authService.getUser()?.is_superadmin == true"><a class="nav-link text-dark d-flex align-items-center" href="#" routerLink="/superadmin/ota-updates">
                  <i class="fas fa-history pr-2"></i>Updates</a></li>
              <hr class="m-0" />
              <li><a class="nav-link text-dark d-flex align-items-center" href="#" routerLink="/logout">
                  <i class="fas fa-sign-out-alt pr-2"></i>Logout</a></li>
            </ul>
          </div>
        </li>
      </div>

      <div class="d-lg-flex mx-auto">
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link d-flex align-items-center justify-content-center p-0" href="#"
            routerLink="/public-weatherstations" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"><button class="btn btn-outline-red rounded-pill">Publieke
              weerstations</button></a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link d-flex align-items-center justify-content-center p-0 ml-3" href="#" routerLink="/login"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><button
              class="btn btn-red rounded-pill">Login</button></a>
        </li>
      </div>
    </ul>
  </div>
</nav>
