<div id="image">
  <div class="container">
    <h2 class="slogan text-center font-weight-bold text-white mb-4">Jouw informatiebron omtrent wijnbouw</h2>
    <hr class="lijn bg-red m-auto" />
    <h1 class="titel text-center font-weight-bold text-white mt-4">WIJNBOUWER.BE</h1>
  </div>
</div>
<div class="container">
  <div class="row my-4">
    <div class="col-12 col-lg-6">
      <h3 class="text-red font-weight-bold">Over mij</h3>
      <p>Hi, ik ben Vandenwijngaert Kris, en wellicht net als u gepassioneerd door het wijnbouwen. Ik heb gemerkt dat
        vele collega-wijnbouwers, ook weer net als ik, vaak op iets stuiten waarover ze graag de mening van een ander
        wijnbouwer willen weten. Deze vragen komen dan terecht op allerhande media waardoor ze zelden leiden tot een
        goed antwoord.</p>

      <p> Via de gilde, clubs en opleidingen, heb ik ondertussen gemerkt dat in België (en ook in Nederland) verdomd
        veel
        kennis bestaat, maar dat die niet altijd gemakkelijk bereikbaar is. Daarom mijn poging om dit via deze website
        te verbeteren. Heb ik dan alle kennis in huis? Nee, zeker niet! Ik ben doorwinterd techneut maar nog lang geen
        oenoloog of iets dergelijk. Ik wil wel helpen zoeken naar antwoorden en ik hoop dat veel mensen deze site af en
        toe bezoeken en hun kennis willen te dienste stellen voor een collega in nood.</p>

      <p>Alvast bedankt voor je bezoek aan deze site.</p>
    </div>
    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
      <img class="img-fluid" src="/assets/images/sunset.jpg" alt="Winegarden">
    </div>
  </div>
</div>
